body {
  padding: 5% 10% 0 10%; 
}

.container-fluid {
  background-color: #EEEEEE;
  border-radius: 0.5%;
  padding: 5%;
}

.title h1 {
  font-size: 60px;
  font-weight: 600;
}

.title h2 {
  font-size: 30px;
}

.image-detail {
  background-color: #FFFFFF;
  border: 1px solid lightgrey;
  border-radius: 0.5%;
}

.image-detail img {
  padding-left: 0.5%;
}

.image-detail p {
  font-size: 14px;
  padding-top: 1%;
  text-align: center;
}

#timeline {
  padding: 5% 20% 0 18%;
}

#timeline ul li {
  font-size: 13px;
}

#quote {
  padding: 0 20% 0 20%;
}

#quote p {
  font-size: 21px;
  font-weight: 200;
  padding-top: 1%;
}

#quote h5 {
  color: #757575;
  font-weight: 100;
  padding-bottom: 5%;
}

.footer {
  text-align: center;
  padding: 2%;
  
}

.footer p {
  font-size: 14px;
}

